*/__pycache__/
.*.swp
.pybuild/
build/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/pdfsuite*.substvars
debian/pdfsuite*/
debian/tmp/
misc/
nautilus/pdfsuite
pdfsuite.egg-info/
thunar/pdfsuite
var/
